//VARIABLES

//COLORS
$color-text-main: #474747;
$color-text-secondary: #fff;
$color-background-1: #fff;
$color-background-2: #F8F8F8;
$color-background-3: #002952;
$color-background-4: rgba(171, 181, 203, 1);

//FONTS
$font-main: ltc-bodoni-175, serif;

//UNIVERSAL
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  font-weight: 400;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #fff;
  &:hover {
    color: $color-background-4;
    text-decoration: none;
  }
}

.clouds {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: .4;
  z-index: -1;
  position: fixed;
  @media only screen and (min-height: 1360px) {
    height: 92vh;
  }
 }

//HEADER
.header {
  height: 8vh;
  display: flex;
  background-color: $color-background-3;
  color: $color-text-secondary;
  text-transform: uppercase;

  .my-navbar {
    width: 100%;
    display: flex;
    cursor: pointer;
    @media only screen and (max-width: 1200px) {
      font-size: 85%;
      .my-brand {
        font-size: 100%;
      }
    }
    button {
      border-color: #fff;
      &:focus {
        outline: none;
      }
      @media only screen and (max-width: 500px) {
        font-size: 1rem;
      }
    }
    div.menu {
      margin-right: 0!important;
      margin-left: auto;
      align-items: center;
      cursor: pointer;
      @media only screen and (max-width: 992px) {
        width: 13vw;
        background-color: $color-background-3;
        cursor: pointer;
      }
      @media only screen and (max-width: 768px) {
        width: 16vw;
      }
      @media only screen and (max-width: 500px) {
        width: 85vw;
        height: 100vh;
        margin-right: auto!important;
        padding-top: 83px;
      }
    }
    div.dropdown {
      width: 100%;
      z-index: 10;
      height: 100%;
      .nav-link {
        color: #fff;
        &:hover {
          color: $color-background-4;
        }
      }
    }
  }
}

//MAIN
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  align-items: start;
  height: 83vh;
  font-style: italic;
  font-weight: bolder;
  font-size: 26px;
  color: $color-text-main;

  .grid-item {
    text-align: center;
    padding: 0 20px;
    color: $color-text-main;
  }

  .left {
    grid-area: 2 / 1 / 3 / 2;

  }

  .my-image {
    grid-area: 2 / 2 / 3 / 3;

    .me {
      width: 70%;

    }
  }

  .right {
    grid-area: 2 / 3 / 3 / 4;
    padding-top: 48px;
  }

  .bottom {
    grid-area: 3 / 2 / 4 / 3;
  }
  @media only screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    .grid-item {
      padding: 20px 100px;
      font-size: 22px;
    }
    .my-image-2 {
      .me {
        width: 30%;
      }
    }
  }
  @media only screen and (max-width: 990px) {
    .grid-item {
      padding: 20px;
    }
    .my-image-2 {
      .me {
        width: 35%;
      }
    }
  }
  @media only screen and (max-width: 400px) {
    .my-image-2 {
      .me {
        width: 55%;
      }
    }
  }
}

//SHOWCASE
.showcase {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  color: $color-text-main;
  background: #757F9A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  @media only screen and (max-width: 1200px) {
    height: 8vh;
    .title {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 992px) {
    height: auto;
  }

  .title {
    width: 100%;
    background-color: $color-background-3;
    color: $color-text-secondary;
  }
  .projects {
    width: 90%;
    margin:auto auto;
    display: grid;
    grid-template-rows: minmax(200px, max-content);
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-auto-rows: 200px;
    grid-gap: 30px;
    z-index: 3;

    @media only screen and (max-width: 990px) {
      width: 65%;
      padding: 30px;
    }

    @media only screen and (max-width: 768px) {
      width: 80%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.7;
      -webkit-transform: scale(1);
      transform: scale(1);
      transition: transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    }

    img:hover {
      width: 100%;
      height: 100%;
      -webkit-transform: scale(1.15);
      transform: scale(1.15);
      -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
      transition: opacity 0.5s, -webkit-transform 0.5s;
      transition: transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
      opacity: 1;
      box-shadow: 8px 8px 10px #888888;
    }

    .project {
      justify-content: center;
      align-items: center;
      height: 100%;
      box-shadow: 8px 8px 10px #888888;
    }
  }
}

//FOOTER
.footer {
  height: 8vh;
  background-color: $color-background-3;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;

  .copyright {
    align-self: center;
    width: 100%;
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    > div {
      width: 10%;
      border-radius: 3px;
    }
    svg {
      width: 40%;
      background-color: #fff;
      border-radius: 3px;
      &:hover {
        background-color: $color-background-4;
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    .copyright {
      font-size: 85%;
    }
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    padding-left: 0;
    justify-content: space-evenly;
    .copyright {
      width: auto;
    }
    .social-media {
      justify-content: center;
      > div {
        width: 45px;
        padding-left: 10px;
        padding-right: 10px;
      }
      svg {
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 400px) {
    .social-media {
      > div {
        width: 10%;
      }
    }
  }
}
