//VARIABLES

//COLORS
$color-text-main: #474747;
$color-text-secondary: #fff;
$color-background-1: #fff;
$color-background-2: #F8F8F8;
$color-background-3: rgba(#2c3e50, 0.81);

//FONTS
$font-futura: futura-pt, sans-serif;

//UNIVERSAL
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

.clouds {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: .4;
  z-index: -1;
  position: fixed;
 }

//HEADER
.header {
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  background-color: $color-background-3;
  color: $color-text-secondary;
  font-family: $font-futura;
}

.nav {
  width: 30vw;
  align-items: center;
  justify-content: space-evenly;
  li {
    list-style: none;
  };
}

//MAIN
.main {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 50% 25%;
  //grid-gap: 10px;
  //padding: 0 20px;
  height: 92vh;
  font-family:serif;
  font-style: italic;
  font-size: 22px;
  color: $color-text-main;

  .grid-item {
    //align-items: center;
    //justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: $color-text-main;
  }

  .left {
    grid-area: 2 / 1 / 3 / 2;

  }

  .my-image {
    grid-area: 2 / 2 / 3 / 3;

    .me {
      width: 75%;
      border-radius: 100%;
    }
  }

  .right {
    grid-area: 2 / 3 / 3 / 4;
  }

  .bottom {
    grid-area: 3 / 2 / 4 / 3;
  }
}

//SHOWCASE
.showcase {
  height: 500px;
  background-color: rgba(#2c3e50, 0.81);
  color: $color-text-secondary;
  font-family: $font-futura;
  .title {
    width: 100%;
  }
  .projects {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 250px;
    grid-gap: 30px;

    .project {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fff;
      height: 100%;
    }

    .project-1 {

    }
    .project-2 {

    }
    .project-3 {

    }
  }
}

//CONTACT FORM
.contact {
  height: 600px;
}

//FOOTER
.footer {
  height: 125px;
  background-color: rgba(#2c3e50, 0.81);
  color: #fff;
  border-top: 1px solid #fff;
}
